@charset "UTF-8";
/*
    id= #
    class = .
*/

body{
    background-color: rgb(169, 241, 167);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 109, 0);
}

#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(50, 73, 50);
}

.basico{
    color: #3c805e;
}

.intermediario{
    color: #80793c;
}

.avancado{
    color: #803c3c;
}

.destaque{
    background-color: rgb(216, 216, 116);
}